* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gold;
}
.container {
  max-width: 1200px;
  margin: 50px auto;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  row-gap: 70px;
}

.intro-heading {
  text-align: center;
  text-transform: uppercase;
}

.team-box {
  margin-top: 50px;
  height: 930px;
}

.team-mate-box {
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;

  transition: all 0.6s;
}

.team-mate-box:hover {
  box-shadow: 2px 2px 3px rgb(77, 76, 76);
  transform: translate(0px, -2px);
}

.team-mate-img {
  width: 100%;
}

.team-mate-name {
  text-align: center;
  color: #222;
}
ul {
  margin-top: 10px;
}

li {
  margin-bottom: 5px;
}

.contact-box {
  margin: 10px 50px;
  padding: 20px;
}

.contact {
  font-size: 30px;
  margin: 5px;
}

.facebook {
  color: #4267b2;
}

.insta {
  color: rgb(247, 8, 48);
}

.twitter {
  color: #1da1f2;
}
